<ion-view view-title="Notes" name="tab-notes">
  <ion-content class="padding">

<!-- Create Travel Note Button -->
    <button class="button button-icon ion-compose new-note"
            ui-sref=".create_edit">
    </button>


<!-- List of Travel Notes -->
    <ion-list>
      <div class="list card" ng-repeat="note in notes">

        <div class="item item-divider"
             ui-sref=".show({notesID: {{note.id}}})">{{note.title}}</div>
        <div class="item item-body">
          <div>
            {{note.body}}
          </div>
        </div>

      </div>
    </ion-list>

  </ion-content>
</ion-view>