<ion-view view-title="Profile" name="tab-profile">
  <ion-content class="padding">

<!-- Profile Image and Stats -->
    <div class="row" id="profile-top-section">
      <div class="col col-25 col-center" id="profile-img">Profile Photo </div>
      <div class="col col-center profile-stats">
        <div class="row">
          <div class="col travel-stat-label"> Travel Stat </div>
           <div class="col travel-stat-number">Number</div>
        </div>
        <div class="row">
          <div class="col travel-stat-label"> Travel Stat </div>
           <div class="col travel-stat-number">Number</div>
        </div>
        <div class="row">
          <div class="col travel-stat-label"> Travel Stat </div>
           <div class="col travel-stat-number">Number</div>
        </div>
      </div>
    </div>

<!-- Profile Buttons -->
    <div class="row row-center" id="profile-button-section">
      <div class="col col-center">

        <button   class="button button-dark profile-button"
                  ng-click='SignOutBtnClick()'>
                  Sign out
        </button>
        <button   class="button button-dark profile-button"
                  ui-sref=".edit">
                  Edit Profile
        </button>
        <button   class="button button-dark profile-button"
                  ui-sref=".friends">
                  See Friends
        </button>
      </div>
    </div>

<!-- Profile Bio -->

    <div class="row" id="profile-bio">
      This is the Profile Bio.
    </div>


<!-- Map -->
    <div class="row" id="profile-map">
      This is the User Vector Map.
    </div>


  </ion-content>
</ion-view>
