<ion-view view-title="Profile" name="tab-profile">
  <ion-content class="padding">
        <div>
          <button class="button button-dark" ng-click='SignOutBtnClick()' id="signoutbutton">Sign out</button>
        </div>
  </ion-content>
</ion-view>



<ion-content>



<div class="user-profile" style="width:100%;heigh:auto;background-color:#fff;float:left;">

    <img src="img/cover.jpg">

    <div class="avatar">

      <img src="img/ionic.png" class="profile-pic">

      <ul>

        <li>

          <p class="text-white text-center" style="margin-top:-15%;margin-bottom:10%;display:block;">@ionsnap, 6 Pictures</p>

        </li>

      </ul>

    </div>

  </div>