<!-- Navigation bar -->
<ion-tabs class="tabs-royal tabs-striped tabs-icon-top">

  <ion-tab  title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tab/home">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>

  <ion-tab  title="Search" icon-on="ion-android-globe" icon-off="ion-android-globe" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Messages" icon-on="ion-ios-email" icon-off="ion-ios-email-outline" href="#/tab/messages">
    <ion-nav-view name="tab-messages"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Notes" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" href="#/tab/notes">
    <ion-nav-view name="tab-notes"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profile" icon-on="ion-android-person" icon-off="ion-android-person" href="#/tab/profile">>
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

</ion-tabs>
  <!-- END OF TABS -->
