<ion-view view-title="Edit Profile" name="profile-notab-edit">

<!-- Nav Buttons -->
  <ion-nav-buttons side="left">
    <div    class="button icon ion-ios-arrow-back"
            ui-sref="tab.profile"
            ng-click="updateUserInfo(user)">
    </div>
  </ion-nav-buttons>

<!-- START OF CONTENT -->
  <ion-content class="padding">

<!-- Profile Image and Name  -->

    <img class="edit-profile-user-image" ng-src="{{user.image}}"  />
    <div class="row" id="edit-profile-username"> {{user.name}} </div>

<!-- Edit User Location and Bio -->

    <div id="edit-user-status-and-bio-wrapper">

      <div  id="edit-user-status-div"
            class="row">
        <label class="edit-user-status-label col col-80">Your Status </label>
      </div>
      <div class="row">
        <textarea type="text"
                  id="edit-user-status"
                  placeholder="Travelling soon? Call out for tips!"
                  ng-model="user.location_status">
        </textarea>
      </div>

      <div id="edit-user-bio-wrapper">
        <div class="row">
          <label class="edit-user-bio-label">Bio</label>
        </div>
        <div class="row">
          <textarea id="edit-user-bio-text"
                    placeholder="What are your travel interests?"
                    ng-model="user.bio">
          </textarea>
        </div>
      </div>

    </div>


<!-- **********************  Edit User Stats ********************* -->

    <div id="edit-user-stats-wrapper">
      <div class="row edit-user-stat-labels">
        <div class="col">
          # Countries
        </div>
        <div class="col">
          % Coverage
        </div>
        <div class="col">
          Travel Status
        </div>
      </div>

      <div class="row edit-user-stats">
        <div class="col">
          {{user.countries_visited}}
        </div>
        <div class="col">
          {{user.world_coverage}} %
        </div>
        <div class="col"
             ng-model="user.travel_status">
          {{user.travel_status}}
        </div>
      </div>
    </div>


<!-- ******************** User Map *************************** -->
    <div class="row profile-edit-map">
    </div>

  <!-- Header -->
    <h4 class="add-countries">
      Add your countries!
    </h4>

  <!-- Start of Country List -->
    <ion-list>
      <div ng-repeat="(continent, countries) in continents">
        <ion-item class="item-stable"
                  ng-click="toggleGroup(continent)"
                  ng-class="{active: isGroupShown(continent)}">
            <i class="icon" ng-class="isGroupShown(continent) ? 'ion-minus' : 'ion-plus'"></i>
          &nbsp;
          {{continent}}
        </ion-item>
        <ion-item class="item-accordion"
                  ng-repeat="country in countries"
                  ng-show="isGroupShown(continent)">
          <ion-checkbox ng-model="country.checked"
                        ng-checked="country.checked"
                        ng-change="updateUserCountry(country)">
            {{country.name}}
          </ion-checkbox>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>

<!-- ******************************************* -->
