<ion-view view-title="My Friends" name="profile-notab-friends">


<!-- Nav Buttons -->
  <ion-nav-buttons side="left">
    <div    class="icon ion-ios-arrow-back"
            ui-sref="tab.profile">
    </div>
  </ion-nav-buttons>

  <ion-content class="padding">

<!-- Find New Friends Button -->
    <button class="button find-friends-button" ui-sref="profile.friends.add">Find Friends</button>

  <!-- Search for User Friend -->
    <label class="item item-input" ng-if="dataLoaded">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Find Your Friend">
    </label>

  <!-- List User Friends -->
    <ion-list>
      <ion-item class="row list-user-friends" ng-repeat="friendship in friendshipList">

        <img class="col col-20 friend-img" ng-src="{{friendship.friend.image}}">
        <div class="col col-70 friend-name"
             ui-sref=".show({friendsID: {{friendship.friend_id}}})">
            {{friendship.friend.name}}
        </div>
        <div class="col col-10 icon ion-ios-close-empty delete-friend-button"
            ng-click="deleteFriend({{friendship.id}}); friendshipList.splice($index, 1)"></div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<!-- "friendsList.splice($index, 1)" -->