<ion-view view-title="My Profile" name="tab-profile">


  <ion-nav-buttons side="right">
    <div class="icon ion-log-out"
            ng-click='SignOutBtnClick()'>
    </div>
  </ion-nav-buttons>

<!-- Profile Image and Stats -->
  <ion-content class="padding">
    <div class="row profile-top-section">
      <div class="col col-25 profile-img-div">
        <img ng-src="{{user.image}}"  />
        <span class="profile-user-name">
          {{user.name}}
        </span>
      </div>
      <div class="col profile-stats">
        <div class="row">
          <div class="col col-75 travel-stat-label"> # Countries Visited </div>
          <div class="col travel-stat-number"> {{user.countries_visited}} </div>
        </div>
        <div class="row">
          <div class="col col-75 travel-stat-label"> World Coverage </div>
          <div class="col travel-stat-number"> {{user.world_coverage}} %</div>
        </div>
        <div class="row">
          <div class="col col-100 travel-stat-label"> Travel Status: <span class="profile-travel-status"> {{user.travel_status}} </span> </div>
        </div>
      </div>
    </div>

<!-- Profile Buttons -->
    <div class="row row-center" id="profile-button-section">
      <div class="profile-buttons">
        <button   class="button button-small profile-button"
                  ui-sref="profile.edit">
                  Edit Profile
        </button>
        <button   class="button button-small profile-button"
                  ui-sref="profile.friends">
                  See Friends
        </button>
      </div>
    </div>


    <div class="row">
      <div class="col col-100 current-location">
        <span class='current-location-status'>
          {{user.location_status}}
        </span>
      </div>
    </div>


<!-- Profile Bio -->

    <div class="row" id="profile-bio">
      {{user.bio}}
    </div>


<!-- Map -->
    <div class="profile-map">
    </div>


  </ion-content>
</ion-view>
