<ion-view view-title="{{note.title}}" name="notes-notab-edit">

  <!-- Cancel & Save buttons in header -->
  <ion-nav-buttons side="left">
    <div class="icon ion-ios-arrow-back"
            ui-sref="tab.notes"
            ng-click="editTravelNote()">
    </div>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <div class="icon ion-share"
            ng-click="shareNote()">
    </div>
  </ion-nav-buttons>

  <!-- Show / Edit Travel Note Form  -->
  <ion-content class="padding">
    <form ng-submit="updateTravelNote()"
              class="list list-inset"
              role="form">

  <!-- First Row -->
      <div class="row">
      <!-- Header -->
        <input  type="text"
                class="edit-note-title col col-80"
                ng-model="note.title"
                id="edit-note-header">
        </div>

  <!-- Second Row -->
      <div class="row" id="edit-note-body-div">
        <textarea id="edit-note-body"
                  ng-model="note.body"
                  ng-style="{'height': bodyHeight}">
        </textarea>
      </div>
    </form>
  </ion-content>
</ion-view>