<ion-view view-title="Create Travel Note" name="tab-notes-create_edit">
  <ion-content class="padding">

<!-- Note title and body -->
  <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="Trip Title">
    </label>
    <label class="item item-input travel_note_body">
      <textarea placeholder="Jot down your travel notes here"></textarea>
    </label>
  </div>

<!-- Save Button -->
<button   class="button button-dark save-note-button"
          ng-click="saveData()">
          Save Your Stuff!
</button>

  </ion-content>
</ion-view>