<ion-view view-title="Travel Note" name="notes-create">

<!-- Cancel button in top left header -->
  <ion-nav-buttons side="left">
    <button class="icon ion-ios-arrow-back"
            ui-sref="tab.notes">
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-dark save-note-button"
            ng-click="createTravelNote()">
      Save
    </button>
  </ion-nav-buttons>

  <ion-content class="padding">
  <!-- Start of Travel Note Form-->
    <form class="list list-inset"
          role="form">

      <!-- Content for Form -->
      <div id="note-title-div">
        <label class="note-title" for="new-note-title"> </label>
        <input type="text"
               id="new-note-title"
               placeholder="Title of Trip"
               ng-model="newNote.title">
      </div>

      <div id="note-body-div">
        <label class="note-body-title" for="new-note-body"> </label>
        <textarea placeholder="Jot down your travel notes here"
                  ng-model="newNote.body"
                  id="note-body">
        <textarea>
      </div>
    </form>
  </ion-content>
</ion-view>

