<ion-view view-title="Edit Profile" name="tab-profile-edit">
  <ion-content class="padding">

<!-- User Image and Name  -->

    <img src="" id="editprofile-img">
    <p> User Name </p>

<!-- User Location -->

    <div class="row" id="edit-user-location">
      Edit User Location
    </div>

<!-- User Bio -->

    <div class="row" id="edit-user-bio">
      Edit User Bio
    </div>


<!-- User Stats  -->

    <div class="row edit-user-stats"></div>
      <div class="col">
        World Coverage - ##
      </div>
      <div class="col">
        Travel Percentage - ##
      </div>
    </div>

<!-- User Map  -->
    <div class="row" id="edit-vector-map">
      Add to Vector Map.
    </div>


  </ion-content>
</ion-view>
