<ion-view view-title="Edit Profile" name="tab-profile-edit">

  <ion-nav-buttons side="right">
    <button ion-button class="ion-checkmark-round" id="save-edit-profile-button" ng-click="updateUserLocation()" type="submit">
    </button>
  </ion-nav-buttons>


  <ion-content class="padding">

<!-- Profile Image and Name  -->

    <img class="edit-profile-user-image" ng-src="{{user.image}}"  />
    <div class="row" id="edit-profile-username"> {{user.name}} </div>

<!-- Edit User Location and Bio -->

    <form ng-submit="updateAccount(updateUserProfileForm)" role="form" ng-init="updateUserProfileForm = {location_status: null, bio: null}">
      <div id="edit-user-location-div">
        <label class="edit-user-location">Your Location </label>
        <input type="text" name="location_status" ng-model="updateAccount.location_status">
      </div>
      <div>
        <label class="edit-user-bio">Bio</label>
        <input type="text" ng-model="updateAccount.bio">
      </div>
    </form>


<!-- **********************  Edit User Stats ********************* -->

    <div class="row edit-user-stats">
      <div class="col">
        # Countries Visited - {{user.countries_visited}}
      </div>
      <div class="col">
        World Coverage - {{user.world_coverage}} %
      </div>
    </div>

<!-- ******************** User Map *************************** -->
    <div class="row profile-edit-map">
    </div>

  <!-- Header -->
    <h4 class="add-countries">
      Add your countries!
    </h4>

  <!-- Start of Country List -->
    <ion-list>
      <div ng-repeat="(continent, countries) in continents">
        <ion-item class="item-stable"
                  ng-click="toggleGroup(continent)"
                  ng-class="{active: isGroupShown(continent)}">
            <i class="icon" ng-class="isGroupShown(continent) ? 'ion-minus' : 'ion-plus'"></i>
          &nbsp;
          {{continent}}
        </ion-item>
        <ion-item class="item-accordion"
                  ng-repeat="country in countries"
                  ng-show="isGroupShown(continent)">
          <ion-checkbox ng-model="country.checked"
                        ng-checked="country.checked"
                        ng-change="updateUserCountry(country)">
            {{country.name}}
          </ion-checkbox>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>

<!-- ******************************************* -->
