<ion-view view-title="My Friends" name="tab-profile-friends">
  <ion-content class="padding">

    <button class="button find-friends" ui-sref=".add">Add New Friend</button>
<!--
    <p ng-if="!dataLoaded">You have no friends right now</p>
 -->
  <!-- Search User Friends -->
    <label class="item item-input" ng-if="dataLoaded">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Find Your Friend">
    </label>

<!-- List User's Friends -->
    <ion-list>
      <ion-item class="row" ng-repeat="friendship in friendshipList">

        <img class="col col-20 friend-img" ng-src="{{friendship.friend.image}}">
        <div class="col col-50 friend-name"
             ui-sref=".show({friendsID: {{friendship.id}}})">
            {{friendship.friend.name}}
        </div>
        <div class="col icon ion-ios-close-empty"
            ng-click="deleteFriend({{friendship.id}}); friendshipList.splice($index, 1)"></div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<!-- "friendsList.splice($index, 1)" -->