<ion-view view-title="My Friends" name="profile-notab-friends">
  <ion-content class="padding">

<!-- Find New Friends Button -->
    <button class="button find-friends" ui-sref="profile.friends.add">Find Friends</button>


  <!-- Search for User Friend -->
    <label class="item item-input" ng-if="dataLoaded">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Find Your Friend">
    </label>

  <!-- List User Friends -->
    <ion-list>
      <ion-item class="row" ng-repeat="friendship in friendshipList">

        <img class="col col-20 friend-img" ng-src="{{friendship.friend.image}}">
        <div class="col col-70 friend-name"
             ui-sref="profile.friends.show({friendsID: {{friendship.id}}})">
            {{friendship.friend.name}}
        </div>
        <div class="col col-10 icon ion-ios-close-empty"
            ng-click="deleteFriend({{friendship.id}}); friendshipList.splice($index, 1)"></div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<!-- "friendsList.splice($index, 1)" -->