<ion-view view-title="Welcome" name="welcome_screen">
  <ion-content class="padding" on-swipe-left="onSwipeLeft()">

    <!-- Welcome Image  -->
    <img src="#">

    <!-- Header -->
    <h1>Welcome to Zealist!</h1>


    <!-- Welecome Message -->
    <div>
      <p>We love to travel just as much as you do, and we’re proud of it. </p>
      <p>So we created a place for super travellers just like you to: </p>
      <p> 1) Track your travels 2) Inspire your friends with your experiences and 3) Be inspired by theirs. </p>
      <p>We hope you’ll find it valuable!</p>
    </div>

  </ion-content>
</ion-view>
