/* Empty. Add your own CSS if you like */

* {
  font-family: 'Carrois Gothic SC', sans-serif;
  }

ion-content {
  background: black;
  color: white;
}

ion-nav-bar {
  background: black;
  color: white;
}



/******************** LOGIN ********************/

#auth-log-in{
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-family: 'Carrois Gothic SC', sans-serif;

}

#logo {
  display: block;
  margin: auto;
  width: 40%;
  margin-top: 120px;
}

.sign-up-button {
  margin-top: 10px;
  font-family: 'Carrois Gothic SC', sans-serif;
}

/****************** WELCOME SCREEN ***************/

#welcomeimage{
  display: block;
  margin: auto;
  width: 100%;
}

#welcome-header {
  font-size: 23px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  font-family: 'Carrois Gothic SC', sans-serif;
}

#welcome-message {
  font-size: 17px;
/*  color: white;
*/}

#welcome-list-items li {
  margin-left: 20px;
/*  padding: 2px;*/
}

#final-line{
  margin-top: 15px;
}

#welcome-list-items li span{
  margin-right: 7px;
  font-size: 25px;
}

/************** HOME FEED & SEARCH ***************/


#home-user-img {
  border: 5px double #66FFb2;
  border-radius: 50%;
}

.user-list-name {
  margin-left: 10px;
  margin-top: 2px;
}

#home-user-name {
  font-weight: bold;
  color: #66FFb2;
}

#home-user-location {
  font-weight: italic;
}

.user-avatar {
  margin-bottom:10px;
}

#country-search-header {
  margin-bottom: 20px;
  padding: 10px;
  color: white;
  font-family: 'Carrois Gothic SC', sans-serif;
  text-align: center;
  font-size: 16px;
}

#search-country-name {
  font-family: 'Carrois Gothic SC', sans-serif;
  color: white;
}

/********************** NOTES **********************/

.travel_note_body {
  height: 400px;
}

#travel-note-body {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.save-note-button {
  display: block;
  margin: auto;
}

.note-copy{
  font-family: 'Carrois Gothic SC', sans-serif;
}

.note-header{
  background-color: #66FFb2;
}

/******************** USER PROFILE ********************/

.profile-top-section{
  height: 100px;
  padding: 0px;
}

.profile-img-div {
  height: 60%;
  text-align: center;
  font-size: 15px;
}

.profile-img-div img {
  display: block;
  width: 100%;
  border: 5px double #66FFb2;
  border-radius: 50%;
}

.profile-user-name {
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
  display: block;
}

.friend-profile-user-name {
  margin-top: 6px;
  font-weight: bold;
  font-size: 18px;
  display: block;
}


.travel-stat-label {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 10px;
  margin:1px;
  font-size: 13px;
  padding: 2px;
  text-align: center;
  color: #66FFb2;
}

.profile-stats {
  padding: 0px;

}

.current-location {
  margin-top: 5px;
}

.friend-current-location {
  margin-top: 5px;
}

.friend-status {
  margin-top: 10px;
}

.travel-stat-number {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 10px;
  text-align: center;
  margin:1px;
  padding: 2px;
  font-weight: bold;
  color: white;
}

.profile-button {
  margin-left: 10px;
  font-family: 'Carrois Gothic SC', sans-serif;
  background-color: #66FFb2;
  font-size: 13px;
  height: 10px;
}

.friend-profile-button {
  margin-left: 15px;
  font-family: 'Carrois Gothic SC', sans-serif;
  background-color: #66FFb2;
  font-size: 13px;
  height: 10px;
  margin-top: 5px;
}

#profile-button-section {
  margin-top: 5px;
}

#profile-bio {
  padding-top: 5px;
  margin-top: 5px;
  border-style: solid;
  border-width: 1px;
  height: 70px;
  color: #66FFb2;
  border-color: white;
}

.profile-travel-status {
  font-weight: bold;
  color: white;
}


.current-location-status{
  font-weight: bold;
}

.profile-map, .profile-edit-map, .friend-profile-map {
  margin-top: 20px;
  height: 200px;
  border-style: solid 2px;
}


.profile-buttons {
  display: block;
  margin: auto;
  padding-left: 60px;
}

.friend-profile-buttons {
  display: block;
  margin: auto;
  padding-left: 60px;
}

/******************** EDIT PROFILE ********************/


.edit-profile-user-image {
  display: block;
  margin: auto;
  width: 23%;
  padding:1px;
  border: 5px double #66FFb2;
  border-radius: 50%;
}

#edit-profile-username {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#edit-user-status-and-bio-wrapper {
  border: 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
}

.edit-user-status-label {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
   color: #66FFb2;
}

#edit-user-status {
  width: 100%;
  padding-left: 5px;
  max-width: 57ch;
  background: black;
  color: white;
  font-family: 'Carrois Gothic SC', sans-serif;

}

.edit-user-bio-label {
  margin: auto;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  display: block;
   color: #66FFb2;
}

#edit-user-bio-text {
  width: 100%;
  background: black;
  color: white;
  font-family: 'Carrois Gothic SC', sans-serif;
}

#edit-user-stats-wrapper{
  border: 1px solid;
}

.edit-user-stat-labels{
  height: 30px;
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
  color: #66FFb2;
}

.edit-user-stats{
  height: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.add-countries {
  text-align: center;
  margin-bottom: 20px;
}

.item-accordion {
  padding: 8px;
}

#save-edit-profile-button {
  font-size: 20px;
}

#edit-user-bio-wrapper{
  margin-left: 5px;
}


.continent-label, .country-list{
  background-color: black;
  color: white;
}

.item-accordion {
  background: black;
  color: white;
}


/******************* SEE FRIENDS ********************/


.find-friends-button {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  font-family: 'Carrois Gothic SC', sans-serif;
  background-color: #66FFb2;
  font-size: 15px;
  height: 16px;

}

.friend-img {
  border: 1px double #66FFb2;
  margin: 7px;
  border-radius: 50%;
}

.list-user-friends{
  background-color: black;
  color: white;
}


/******************* ADD FRIEND ********************/

.facebook-friends {
  background-color: lightgray;
  padding: 20px;
  margin-bottom: 20px;
  height: 80px;
}

.add-friend {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.find-user-name {
  margin-top: 13px;
}

.friend-name {
  margin-top: 20px;
}

#search-user-name {
  font-family: 'Carrois Gothic SC', sans-serif;
  background-color: black;
  color: white;
}

.search-input-label{
  background-color: black;
  color: white;
}


/********************* TRAVEL NOTES **********************/

#note-title-div {
  height: 40px;
}

#note-body-div {
  height: 300px;
  margin-top: 20px;
}

#travel-note-body {
  padding: 10px;
  padding-left: 5px;
}

.edit-note-title{
  font-weight: bold;
  font-size: 30px;
}

/*#edit-note-body-div {
  height: 300px;
}*/

#edit-note-body{
  width: 100%;
}

#note-body {
  border-style: solid 2px;
  width: 100%;
  margin-top: 10px;
  height: 100%;
}


/********************* ICONS *************************/

.ion-search {
  font-size: 23px;
}

.ion-plus-circled {
  font-size: 35px;
  margin-top: 5px;
}

.ion-compose {
  font-size: 55px;
  margin: 0 auto;
  display: block;
  color: white;
}

.ion-checkmark-round {
  font-size: 25px;
  padding: 5px;
}

.ion-log-out {
  font-size: 25px;
  padding: 5px;
}

.ion-ios-arrow-back {
  font-size: 25px;
  padding: 5px;
}

.ion-social-facebook{
  font-size: 20px;
  margin-right: 10px;
}

.ion-share {
  font-size: 25px;
  padding: 5px;
}

.delete-friend-button {
  font-size: 35px;
  margin-top: 5px;
  color: white;
}

.ion-ios-close-empty {
  font-size: 25px;
  padding: 5px;
}